/*Variables*/
$color: #833;
body {
  color: $color;
}

/************************************/
/*Extend*/
.push-button {
  @extend body;
  font-family: "Arial Narrow";
}




/************************************/
/*Mixin*/
@mixin heading-font($n) {
  font-size: $n * 1.2em;
  font-family: sans-serif;
  font-weight: bold;
  /*Conditionals*/
  /*-------------------------*/
  @if $n < 2 {
    // if width is not passed, or empty do this
    display: none;

  } @else {
    display: inline-block;
  }
  /*-------------------------*/
}

h1 {
  @include heading-font(2);
}
/**********************/
/*Import*/
/*@import './other_sass_file`;*/


/************************************/
/*Modifying HSLA*/

/*
darken($color, 5%)
lighten($color, 5%)

saturate($color, 5%)
desaturate($color, 5%)
grayscale($color)

adjust-hue($color, 15deg)
compliment($color)    // like adjust-hue(_, 180deg)
invert($color)

fade-in($color, .5)   // aka opacify()
fade-out($color, .5)  // aka transparentize() - halves the opacity
rgba($color, .5)      // sets alpha to .5
*/

/************************************/
/*Loop*/
@for $i from 1 through 4 {
  .item-#{$i} { left: 20px * $i; }
}
/*####################################*/

$i: 6;
@while $i > 0 {
  .item-#{$i} { width: 2em * $i; }
  $i: $i - 2;
}

/*####################################*/

$shapes: triangle, square, circle;

@each $shape in $shapes {
  .icon-#{$shape} {
    background-image: url('/images/#{$shape}.jpg');
  }
}
/*####################################*/
$map: (
        h1: 20px,
        h2: 16px,
        h3: 14px
);

@each $element, $size in $map {
  #{$element} {
    font-size: $size;
  }
}

/*####################################*/

/******************************/


/************************************/
/*Nesting*/
.markdown-body {
  p {
    color: blue;
  }

  &:hover {
    color: red;
  }
}



