<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {% block body %}{% endblock %}
        {% block javascripts %}

            <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}

{% if app.environment() == "dev" %}
        <link href="http://localhost:8080/styles/style.css" rel="stylesheet">
        <script type="text/javascript" src="http://localhost:8080/bundle.js"></script>
        {% endif %}

    </body>
</html>
